$cmnts: ("Icomoon Icons Set": ".icomoon");
$n: 1;

@mixin inSelectorComment($key){
	$i: 0;
	$comment: '';

	@each $cmnt, $name in $cmnts{
		$comment: $name;
	  $i: index($cmnts, $cmnt $name);
	}

/*------------------------------------------------------------------
	#{$i}: #{$key} / #{$comment}
-------------------------------------------------------------------*/
}

@mixin commentAll(){

	@each $cmnt, $i in $cmnts{
/*dstrt------------------------------------------------------------------
	#{$n}: #{$cmnt} / #{$i}
-------------------------------------------------------------------dend*/
		$n: $n + 1;
	}
}